body {
  position: relative;
}

.node {
  border: 20px solid #505050;
  border-radius: 50%;
  text-align: center;
  height: 150px;
  width: 150px;
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  background-color: #FFFFFF;
  z-index: 1;
}

.node i {
  font-size: 100px;
  color: #505050;
  line-height: 150px;
}

.link {
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  color: #505050;
}

.link-tr {
  background: 
     linear-gradient(to top left,
         rgba(0,0,0,0) 0%,
         rgba(0,0,0,0) calc(50% - 20px),
         rgba(0,0,0,1) 50%,
         rgba(0,0,0,0) calc(50% + 20px),
         rgba(0,0,0,0) 100%);
}

.link-tl {
  background: 
     linear-gradient(to top right,
         rgba(0,0,0,0) 0%,
         rgba(0,0,0,0) calc(50% - 20px),
         rgba(0,0,0,1) 50%,
         rgba(0,0,0,0) calc(50% + 20px),
         rgba(0,0,0,0) 100%);
}

#personal-data {
}

#interests {
  left: 42%;
  top: 50%;
}

#publications {
  left: -46%;
  top: 43%;
}

#research-projects {
  left: 44%;
  top: -39%;
}

#social-networks {
  left: -33%;
  top: -54%;
}

#software-projects {
  left: 19%;
  top: -68%;
}

#software-projects-link {
  width: 200px;
  height: 100px;
  left: 19%;
}

